<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us|LEAF</title>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@900&display=swap" rel="stylesheet">
</head>
<body class="bodybg">
   <!-- <div id="head" style="width: 100%; height: 100%; background-color: black; opacity: 0.4; position: absolute; z-index: -1;">
   -->
        
    <nav style="background-color: rgb(1, 1, 32);opacity: 0.4;"class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div style="margin-left: 850px;"class="collapse navbar-collapse" id="navbarNav">
              
                <ul class="navbar-nav">

                  <li class="nav-item">
                    <svg style="margin-top: 5px;" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-house-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                        <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                    </svg>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                  </li>

                  <li class="nav-item">
                    <svg style="margin-top: 7px;" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                    </svg>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                  </li>

                  <li class="nav-item">
                    <i style="margin-top: 8px;"  class="fab fa-facebook fa-2x"></i>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                  </li>

                  <li class="nav-item">
                    <i style="margin-top: 8px;"  class="fab fa-instagram-square fa-2x"></i>
                  </li>
                </ul>
            </div>
        </div>
    </nav>    

    
    <nav style="background-color:rgb(1, 1, 32);opacity: 0.9;"class=" navbar navbar-expand-lg navbar-dark">
        <div class="container"> 
            <img  src="../images/leaf_logo.jpg">   
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
             <li>
                <h2 style="color: blanchedalmond;letter-spacing: 3px;margin-left: 80px;font-weight: 700;">LEGAL EDUCATION AWARENESS FOUNDATION</h2>
                <h4 style="color: blanchedalmond;letter-spacing: 3px;margin-left: 500px;margin-top: 20px;">Let's Live...&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <button style="color: blanchedalmond;"class="btn btn-outline-success">DONATE NOW</button>
                </h4>
            </li>
          </div>

        </div>

    </nav>


    <nav style="background-color: snow;opacity: 0.6;"class="navbar navbar-expand-lg navbar-light bg">
        <div class="container">  
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
         
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul style="color: rgb(2, 32, 15) !important;font-size: 20px ; font-weight: 700;margin-left: 200px;" class="navbar-nav mr-auto">
              <li class="nav-item ">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">&nbsp&nbsp&nbsp&nbsp&nbsp&nbspAbout Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/aboutus">&nbsp&nbsp&nbsp&nbsp&nbsp&nbspFuture Visions</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" href="#">&nbsp&nbsp&nbsp&nbsp&nbsp&nbspJoin Us?</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#">&nbsp&nbsp&nbsp&nbsp&nbsp&nbspContact Us</a>
             </li>
            </ul>
          </div>
      </div>
        </nav> 

        <div style="width: 100%; height: 522px; background-color: black; opacity: .7; position: absolute;">

        </div>

        <h1 class="mt-3" style="font-weight:700;text-align: center; color:blanchedalmond ; position: relative; letter-spacing: 7px;font-family: 'Open Sans', sans-serif
        ,'Roboto', sans-serif;">CONTACT US</h1>

    <!--                                  Middle Transparent Sheet                  -->
    <section style="position: absolute; width: 600px; margin-left:360px ; margin-top: 30px; height: 300px; background-color: black; opacity: .8;">

    </section>

    <section style="margin-left: 350px; width: 600px; height: 300px; position: relative;">
        <form action="" method="" style="text-align: center; margin-top: 100px; color: white; letter-spacing: 2px;">
            <label for="name">NAME</label>
            <input style="outline: none;margin-left:42px;" class="detform" type="text" id="name" placeholder="Enter your name" required><br>
            <label for="mail">E-MAIL ID</label>
            <input id="mail" style="outline: none;margin-left: 7px;margin-top: 5px;" class="detform" type="email" placeholder="Enter email ID" required><br>
            <label for="cont">CONTACT NO.</label>
            <input id="cont" style="outline: none;margin-right: 25px;margin-top: 5px" class="detform" type="text" placeholder="Enter contact no." required><br>
            <label for="mesg">MESSAGE</label>&nbsp&nbsp
            <input id="msg"  style="outline: none;margin-top: 5px;"class="detform" type="text" placeholder="Type your message">
            <br><button class="btn btn-outline-light" style="margin-top: 20px; width: 18rem; font-weight: 600; letter-spacing: 2px;">SUBMIT</button>
        </form>

    </section>
    <div style="width: 100%;margin-top:5px; height: 600px; background-color: black; opacity: .7; position: absolute;">

    </div>
    <section style="position: relative;">
      <h2 style="color:mediumaquamarine;background-size: 100px;margin-left: 500px ;font-weight: 700;">WRITE US AT:</h2>
      <p style="margin-top: 30px;color:white;margin-left: 500px;font-weight: 500;">D-13/11, Khanpur Extn.<br>
        New Delhi - 110080<br>
        Contact : +91-8373994601 ; +91-9868629764<br>
        Email : mail@leaftoday.com, info@leaftoday.com<br>
        </p>
      <section style="position: relative;margin-left: 300px;margin-top: 100px;">
        <h2 style="margin-left: 10px;color:mediumaquamarine;margin-bottom: 30px;font-weight: 700;">OUR TEAM:</h2>
        <img src="../images/aditya_dhawan_s.jpg" style="border:3px solid burlywood;border-radius:5px">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <img src="../images/tanya_tikiya_s.jpg" style="border:3px solid burlywood;border-radius:5px">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <img src="../images/gayatri_s.jpg" style="border:3px solid burlywood;border-radius:5px">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <img src="../images/rajeev_s.jpg" style="border:3px solid burlywood;border-radius:5px">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <img src="../images/sooraj_dewan_s.jpg" style="border:3px solid burlywood;border-radius:5px"><br>
        <span style="margin-right:20px;color: oldlace;font-weight: 500;font-size:15px;">Mr. Aditya Dhawan  </span>
        <span style="padding-left:10px;color: oldlace;font-weight: 500;font-size:15px;">Ms. Tanya Tikiya </span>
        <span style="padding-left:60px;color: oldlace;font-weight: 500;font-size:15px;">Ms. Gayatri </span>
        <span style="padding-left:70px;color: oldlace;font-weight: 500;font-size:15px;">Mr. Rajeev</span>
        <span style="padding-left:90px;color: oldlace;font-weight: 500;font-size:15px;">Mr. Sooraj Dewan</span><br>


        <span style="padding-left:1px;color: powderblue;font-weight: 400;font-size:12px;font-style: italic;">aditya@leaftoday.com </span>
        <span style="padding-left:40px;color: powderblue;font-weight: 400;font-size:12px;font-style: italic;">tanyatikiya@leaftoday.com</span>
        <span style="padding-left:30px;color: powderblue;font-weight: 400;font-size:12px;font-style: italic;">gayatri@leaftoday.com</span>
        <span style="padding-left:20px;color: powderblue;font-weight: 400;font-size:12px;font-style: italic;">rajeevkukkal@leaftoday.com</span>
        <span style="padding-left:10px;color: powderblue;font-weight: 400;font-size:12px;font-style: italic;">soorajdewan@leaftoday.com</span>
      </section>

      <div style="float: left; background-color:bisque; color: black;height:50px; width: 100%;margin-top: 70px;">
        <div class="container mb-0">
          <p class="pt-1" style="float: left; color: black;font-weight: 500;margin-left: 100px;">Terms & Conditions&nbsp&nbsp&nbsp&nbsp | &nbsp&nbsp&nbsp&nbspPrivacy Policy &nbsp&nbsp&nbsp&nbsp| &nbsp&nbsp&nbsp&nbsp©️ Copyright 2016 &nbsp&nbsp&nbsp&nbsp | &nbsp&nbsp&nbsp&nbsp All Rights Reserved &nbsp&nbsp&nbsp&nbsp | &nbsp&nbsp&nbsp&nbsp Powered by Quest2Net</p>
        </div>
      </div>
    </section>
</body>
</html>